<%
let result = {
  title: ''
}

if (item.get('naselenniyPunkt')) {
  result.title += item.property('naselenniyPunkt').evaluate();
}

if (item.get('operator')) {
  result.title += ' ' + item.property('operator').evaluate();
}

if (item.get('type')) {
  result.title += ' ' + item.property('type').evaluate();
}
%>

<ul class='balloon-attrlist' style='width:225px'>
  <li><%- result.title %></li>
</ul>
<div>
  <button type='button' class='btn btn-sm btn-primary map-modal-link' data-type='url' data-url='/registry/telecom-en@operators.ams/view/ams@telecom-en/<%- item.id %>?readonly=on&condensed=on'>Подробно</button>
</div>
