<%
let result = {
  title: ''
}

if (item.get('operator')) {
  result.title += item.property('operator').evaluate();
}

if (item.get('typeTKS')) {
  result.title += ' (' + item.get('typeTKS') + ')';
}
%>

<ul class='balloon-attrlist'>
  <li><%- result.title %></li>
</ul>