<%
let result = {
  title: ''
}

if (item.get('nomer')) {
  result.title += item.get('nomer');
}

if (item.get('adress')) {
  result.title += ' (' + item.get('adress') + ')';
}
%>

<ul class='balloon-attrlist'>
  <li><%- result.title %></li>
</ul>